[Desktop Entry]
Name=Webcam Settings
Name[fr]=Paramètres de la webcam
Comment=Configure Webcam
Comment[fr]=Configuration de la webcam
resetBtn=Reset To Default
resetBtn[fr]=Valeur par défaut
CtrlZoom=Absolute Zoom:
CtrlZoom[fr]=Zoom Absolu:
CtrlBrightness=Brightness:
CtrlBrightness[fr]=Luminosité:
CtrlContrast=Contrast:
CtrlContrast[fr]=Contraste:
CtrlSharpness=Sharpness:
CtrlSharpness[fr]=Netteté:
CtrlSaturation=Saturation:
CtrlSaturation[fr]=Saturation:
Encoding=UTF-8
Type=Service
Icon=webcam
X-KDE-Library=kcm_webcam_settings
X-KDE-ServiceTypes=KCModule
X-KDE-FormFactors=desktop,tablet,mediacenter
X-Plasma-MainScript=ui/main.qml
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=settings-hardware
X-KDE-Keywords=Webcam,Camera
X-KDE-Keywords[fr]=Webcam,Camera
X-KDE-ParentApp=kcontrol
X-KDE-PluginInfo-Name=kcm_webcam_settings
