[Desktop Entry]
Name=Webcam Settings
Comment=Configure Webcam
Description=Configure Webcam
Description[fr]=Configurer La Webcam
Encoding=UTF-8
Type=Service
Icon=webcam
X-KDE-Library=kcm_webcam_settings
X-KDE-ServiceTypes=KCModule
X-KDE-FormFactors=desktop,tablet,mediacenter
X-Plasma-MainScript=ui/main.qml
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Keywords=Webcam,Camera
X-KDE-ParentApp=kcontrol
X-KDE-PluginInfo-Name=kcm_webcam_settings
X-KDE-PluginInfo-Website=https://github.com/infra-monkey/kcm_webcam_settings
